@import url(var_and_mix.scss);
.fixedForNavigation {
  height: 50px;
}

/*navigation==============================================================*/
.navigation {
  height: 50px;
  background-color: #212121;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_menu .menu_link {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

.nav_menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 45px;
}

/*subheader==============================================================*/
.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  margin-top: 15px;
  max-width: 100%;
}

.subheader_text {
  margin-top: 5px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}

.subheader_call {
  text-align: right;
  margin-top: 25px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

.subheader_phone {
  display: block;
  margin-top: 5px;
  color: #FFF;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.subheader_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  border: none;
  cursor: pointer;
  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/*promo==============================================================*/
.promo {
  min-height: 800px;
  padding-top: 200px;
  background: url("../img/bg/promo_uber_bg.png") center center/cover no-repeat;
}

.promo_header {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.promo_subheader {
  color: #FFF;
  margin-top: 10px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.promo_text {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px;
  /* 350% */
  text-transform: uppercase;
}

/*reasons================================*/
.reasons {
  padding: 20px 0 65px 0;
  min-height: 50px;
}
.reasons_item {
  margin-top: 50px;
  padding-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reasons_img {
  display: block;
  width: 115px;
  height: 115px;
}
.reasons_text {
  padding-left: 25px;
  width: 370px;
  line-height: 21px;
  font-style: normal;
}
.reasons_blue-text {
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}
.reasons_black-text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
}

.label {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 115px;
  height: 20px;
  background-color: #000000;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.title {
  margin-top: 35px;
  color: #222;
  text-align: center;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 10px;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

/*mobapp====================================================================*/
.mobapp {
  padding-top: 50px;
  min-height: 10px;
  background: url("../img/bg/mobile_cube_grid_bg.png") center center/cover no-repeat;
}
.mobapp .row {
  margin-top: 10px;
}
.mobapp_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobapp_item-bg1 {
  background: url("../img/possibilities1.png") center center/cover no-repeat;
}
.mobapp_item-bg2 {
  background: url("../img/possibilities2.png") center center/cover no-repeat;
}
.mobapp_item-bg3 {
  background: url("../img/possibilities3.png") center center/cover no-repeat;
}
.mobapp_item-bg4 {
  background: url("../img/possibilities4.png") center center/cover no-repeat;
}
.mobapp_item-bg5 {
  background: url("../img/possibilities5.png") center center/cover no-repeat;
}
.mobapp_item-bg6 {
  background: url("../img/possibilities6.png") center center/cover no-repeat;
}
.mobapp_text {
  padding-top: 80px;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 129.167% */
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.mobapp_btn-plus {
  background-color: #000000;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.mobapp_btn-plus .lineplus-vertical {
  position: absolute;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  left: 47%;
}
.mobapp_btn-plus .lineplus-horizen {
  height: 2px;
  width: 14px;
  background-color: #1EACC7;
}

/*=Choice========================*/
.choice {
  position: relative;
}
.choice_order {
  padding-top: 55px;
  min-height: 500px;
  background-color: #070716;
}
.choice_car {
  width: 760px;
  position: absolute;
  top: 230px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.choice_car4everyday {
  min-height: 400px;
  background: url("../img/bg/mobile_cube_grid_bg.png") center center/cover no-repeat;
}
.choice_car4everyday_text {
  padding-top: 155px;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 141.176% */
}

.label_white {
  background-color: #fff;
  color: black;
}

.title_white {
  color: white;
}

.subtitle_white {
  color: white;
}
