/*@include btn_hover;*/
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.fixedForNavigation {
  height: 50px;
}

/*navigation==============================================================*/
.navigation {
  height: 50px;
  background-color: #212121;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.navigation .hamburger {
  display: none;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_menu .menu_link {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

.nav_menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 45px;
}
.nav_menu .menu_item:last-child {
  border-right: none;
}

/*subheader==============================================================*/
.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader .xs-visible {
  display: none;
}

.subheader .subheader_logo {
  display: block;
  margin-top: 15px;
  max-width: 100%;
}

.subheader_text {
  margin-top: 5px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}

.subheader_call {
  text-align: right;
  margin-top: 25px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

.subheader_phone {
  display: block;
  margin-top: 5px;
  color: #FFF;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.subheader_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  border: none;
  cursor: pointer;
  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/*hamburger==============================================*/
/*promo==============================================================*/
.promo {
  min-height: 800px;
  padding-top: 200px;
  background: url("../img/bg/promo_uber_bg.png") center center/cover no-repeat;
}

.promo_header {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.promo_subheader {
  color: #FFF;
  margin-top: 10px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.promo_text {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/*reasons================================*/
.reasons {
  padding: 20px 0 65px 0;
  min-height: 50px;
}
.reasons_item {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reasons_img {
  display: block;
  width: 115px;
  height: 115px;
}
.reasons_text {
  padding-left: 25px;
  width: 370px;
  line-height: 21px;
  font-style: normal;
}
.reasons_blue-text {
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}
.reasons_black-text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
}

.label {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 115px;
  height: 20px;
  background-color: #000000;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.title {
  margin-top: 35px;
  color: #222;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 10px;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

/*mobapp====================================================================*/
.mobapp {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 10px;
  background: url("../img/bg/mobile_cube_grid_bg.png") center center/cover no-repeat;
}
.mobapp .row {
  margin-top: 10px;
}
.mobapp_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobapp_item-bg1 {
  background: url("../img/possibilities1.png") center center/cover no-repeat;
}
.mobapp_item-bg2 {
  background: url("../img/possibilities2.png") center center/cover no-repeat;
}
.mobapp_item-bg3 {
  background: url("../img/possibilities3.png") center center/cover no-repeat;
}
.mobapp_item-bg4 {
  background: url("../img/possibilities4.png") center center/cover no-repeat;
}
.mobapp_item-bg5 {
  background: url("../img/possibilities5.png") center center/cover no-repeat;
}
.mobapp_item-bg6 {
  background: url("../img/possibilities6.png") center center/cover no-repeat;
}
.mobapp_text {
  padding-top: 80px;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 129.167% */
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.mobapp_btn-plus {
  background-color: #000000;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.mobapp_btn-plus:hover .lineplus-vertical, .mobapp_btn-plus:hover .lineplus-horizen {
  background-color: #FF5656;
}
.mobapp_btn-plus .lineplus-vertical {
  -webkit-transition: 0.35s all;
  transition: 0.35s all;
  position: absolute;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  left: 47%;
}
.mobapp_btn-plus .lineplus-horizen {
  -webkit-transition: 0.35s all;
  transition: 0.35s all;
  height: 2px;
  width: 14px;
  background-color: #1EACC7;
}

/*=Choice========================*/
.choice {
  position: relative;
}
.choice_order {
  padding-top: 55px;
  min-height: 500px;
  background-color: #070716;
}
.choice_car {
  width: 760px;
  position: absolute;
  top: 230px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.choice_car4everyday {
  min-height: 400px;
  background: url("../img/bg/mobile_cube_grid_bg.png") center center/cover no-repeat;
}
.choice_car4everyday_text {
  padding-top: 155px;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 141.176% */
}

.label_white {
  background-color: #fff;
  color: black;
}

.title_white {
  color: white;
}

.subtitle_white {
  color: white;
}

/*=conditions===========================================================================*/
.conditions {
  padding: 60px 0 60px 0;
}
.conditions_block {
  margin-top: 30px;
}
.conditions_title {
  color: #1EACC7;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.conditions_list {
  margin-top: 20px;
  padding-left: 50px;
  color: #222;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 141.176% */
}
.conditions_list li {
  position: relative;
  padding-top: 5px;
}
.conditions_list li:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 8px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
}
.conditions_title-red {
  color: #FF5656;
}
.conditions_list-red li:before {
  content: '';
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

.conditions_descr {
  margin-top: 20px;
  color: #1EACC7;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 141.176% */
}

/*=world==================================================================*/
.world {
  position: relative;
  min-height: 720px;
  padding: 50px 0 50px 0;
  background-color: #080810;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.world:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-height: 720px;
  width: 1440px;
  display: block;
  margin: 0 auto;
  background: url("../img/bg/Worldwide.png") center center/cover no-repeat;
  z-index: 1;
}
.world .label {
  position: relative;
  z-index: 2;
}
.world .title {
  position: relative;
  z-index: 2;
}
.world .subtitle {
  position: relative;
  z-index: 2;
}
.world .subtitle_spacebetween {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.world_seeallcities {
  margin-top: 550px;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #1EACC7;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

/*=footer===========================================================================*/
.footer {
  min-height: 160px;
  padding: 40px;
}
.footer_divider {
  width: 300px;
  height: 4px;
  background-color: #1EACC7;
  margin: 0 auto;
}
.footer_wrappers {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_wrapper {
  margin: 0 auto;
  min-height: 10px;
  width: 33.33333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_social_item {
  display: block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_links {
  width: 390px;
  margin: 0 auto;
}
.footer_links_main {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer_link_main {
  color: #070716;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_links_second {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_link_second {
  color: #999;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_links_lenguange {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer_link_lenguange {
  color: #1EACC7;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_store {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_store_link {
  display: block;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .nav_menu .menu_item {
    padding-right: 20px;
  }
  .nav_menu .menu_link {
    font-size: 13px;
  }

  .promo_header {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .nav_menu .menu_item {
    padding-right: 13px;
  }
  .nav_menu .menu_link {
    font-size: 10px;
  }

  .promo {
    padding-top: 150px;
    min-height: 500px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .promo_btn {
    width: 150px;
    margin-top: 50px;
  }

  .subheader_logo img {
    width: 100%;
  }

  .reasons_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .reasons_img {
    margin: 0 auto;
  }
  .reasons_text {
    margin-top: 20px;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .navigation .nav_menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    top: 0;
    left: -100%;
    width: 50%;
    height: 95vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .navigation .nav_menu_active {
    left: 0;
  }
  .navigation .nav_menu .menu_item {
    padding-right: 0;
    border: none;
  }
  .navigation .nav_menu .menu_link {
    font-size: 20px;
  }
  .navigation .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
  }
  .navigation .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 5px 0 3px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .navigation .hamburger_active {
    padding-top: 6px;
  }
  .navigation .hamburger_active span {
    margin: -5px 0 3px;
  }
  .navigation .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .navigation .hamburger_active span:nth-child(2) {
    display: none;
  }
  .navigation .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn {
    width: 150px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
  }
  .subheader .xs-hidden {
    display: none;
  }
  .subheader .xs-visible {
    display: block;
  }

  .promo {
    min-height: 570px;
  }
}
@media (max-width: 575px) {
  .subheader {
    height: 60px;
  }
  .subheader_text {
    display: none;
  }
  .subheader_logo {
    padding-top: 7px;
  }
  .subheader_phone {
    padding-top: 4px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn {
    width: 110px;
    height: 20px;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }

  .promo {
    padding-top: 100px;
    min-height: 400px;
  }
  .promo_header {
    font-size: 30px;
  }
  .promo_subheader {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
  }
  .promo_text {
    display: none;
  }
  .promo_btn {
    width: 250px;
    margin-top: 80px;
  }

  .navigation .nav_menu {
    width: 80%;
  }
}
