.navigation {
  height: 50px;
  background-color: #212121;
  color:white;
}

.nav_menu {
  display: flex;
  padding: 15px 70px;
  justify-content: space-between;
}

.nav_menu .menu_link {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

.nav_menu .menu_item {
  border-right: 2px dotted rgb(0, 0, 0); 
  padding-right: 45px;
}
.subheader {
  height: 87px;
  background-color: rgba(0,0,0,0.6);
}
.subheader .subheader_logo {
  display: block;
  margin-top: 15px;
  max-width: 100%;
}

.subheader_text{
  margin-top: 5px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}

.subheader_call {
  text-align: right;
  margin-top: 25px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

.subheader_phone {
  display: block;
  margin-top: 5px;
  color: #FFF;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.subheader_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  background: #4CE2FF;
  border: none;
  cursor:pointer;

  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}