.fixedForNavigation {
  height: 50px;
}
/*navigation==============================================================*/
.navigation {
  height: 50px;
  background-color: #212121;
  color:white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav_menu {
  display: flex;
  padding: 15px 70px;
  justify-content: space-between;
}

.nav_menu .menu_link {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

.nav_menu .menu_item {
  border-right: 2px dotted rgb(0, 0, 0); 
  padding-right: 45px;
}

/*subheader==============================================================*/

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0,0,0,0.6);
}
.subheader .subheader_logo {
  display: block;
  margin-top: 15px;
  max-width: 100%;
}

.subheader_text{
  margin-top: 5px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}

.subheader_call {
  text-align: right;
  margin-top: 25px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

.subheader_phone {
  display: block;
  margin-top: 5px;
  color: #FFF;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.subheader_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  border: none;
  cursor:pointer;

  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/*promo==============================================================*/

.promo {
  min-height: 800px;
  padding-top: 200px;
  background: url('../img/bg/promo_uber_bg.png') center center/cover no-repeat;
}

.promo_header{
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.promo_subheader{
  color: #FFF;
  margin-top: 10px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.promo_text {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  border:none;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  cursor:pointer;

  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px; /* 350% */
  text-transform: uppercase;
}

/*reasons================================*/

.reasons {
  padding: 20px 0 65px 0;
  min-height: 50px;

  &_abovetitle {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    width: 115px;
    height: 25px;
    background-color: #000000;

    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
  &_title {
    margin-top: 35px;
    color: #222;
    text-align: center;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  &_item {
    margin-top: 50px;
    padding-left: 125px;
    display: flex;
    align-items: center;
  }
  
  &_img {
    display: block;
    width: 115px;
    height: 115px;
  }

  &_text {
    padding-left: 25px;
    width: 370px;
    line-height: 21px;
    font-style: normal;
  }

  &_blue-text {
    color: #1EACC7;
    font-size: 17px;
    font-weight: 400;
  }

  &_black-text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
  }
}

